html, body {
    font-family: sans-serif;
    background-color: #D7CEC7;
}

.home {
    font-size: 30px;
}

#userListing {
    display: block;

    width: 50%;
    min-height: 100%;

    margin: 5px auto;
    padding: 10px;
    border-radius: 20px;

    font-family: 'Poppins', sans-serif;
}

#successMessage {
    color: #28E070;
}

#errorMessage {
    color: #E74C3C;
}

.user, .add {
    width: 325px;
    margin: 5px;

    transition: background-color 200ms;

    font-family: 'Poppins', sans-serif;
    position: relative;
}

.user p {
    margin: 0;
    font-size: 15px;
    display: inline;
}

.user .userHead h4 {
    margin: 0;
}

.user .userDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userDetail {
    margin: 5px;
    display: block;
}

.userAction {
    text-align: right;
}

.userAction button {
    color: #fff;

    margin: 0 5px;
    font-size: 15px;
}

.add {
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    display: block;
    color: #000;
}

.user:hover, .add:hover {
    background-color: #BDC3C7;
}

#form {
    background-color: #ECF0F1;
    margin: 5px auto;
    padding: 10px;

    border-radius: 20px;
    box-shadow: 15px 15px 15px #808080;
    text-align: center;
    width: 40%;
    font-family: 'Poppins', sans-serif;
}

#form input {
    display: block;
    padding: 5px;
    margin: 5px auto;
    font-family: 'Poppins', sans-serif;
}

#form .button {
    background-color: #fff;
    transition: background-color 200ms;

    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#form .button:hover {
    background-color: #BDC3C7;
}
